[Desktop Entry]
Version=1.0
Type=Application
Exec=instantlaunch %f
Name=instantLAUNCH
Icon=AppImageLauncher
Terminal=false
Categories=Utility;
MimeType=application/x-iso9660-appimage;application/x-appimage;application/vnd.appimage;application/vnc.flatpak.ref
NoDisplay=true
X-AppImage-Integrate=false
